@import './variables';

html,
body,
#root {
    min-height: 100%;
    height: 100vh;
}

body,
.App {
    background-color: #0F0F0F;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 0;
    padding: 0;
    // 禁止選取
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    &::selection {
        background-color: transparent;
    }
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

.App {
    width: 100%;
    height: 100%;
    min-height: 56vw;
    @include flexBox(row, center, center);
    overflow: hidden;

    .video_container {
        width: 100%;
        height: 100%;
    }

    .bg {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #FF8D40 0%, #FF4E45 100%);
        padding: 1.82vw;

        .container {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #0F0F0F;
            background-image: url('https://oss.uppmkt.com/202308/ytfgr/s.svg');
            background-repeat: no-repeat;
            background-size: 53%;
            background-position: right bottom;

            .wrap {
                width: 100%;
                height: 100%;
                @include flexBox(row, center, center);

                .content {
                    @include flexBox(column, flex-start, center);
                    width: 26.8vw;

                    .title_box {
                        width: 12.8vw;
                        margin-bottom: 2.6vw;
                    }

                    .content_text {
                        text-align: justify;
                        font-size: 1.3vw;
                        font-weight: 500;
                        margin-bottom: 0.78vw;
                        letter-spacing: 0.03em;
                    }

                    .qr_box {
                        @include flexBox(row, center, flex-start);
                        margin-top: 2vw;

                        .qr {
                            width: 6vw;
                        }

                        .qr_text {
                            font-size: 1.3vw;
                            font-weight: 700;
                            margin-left: 1.4vw;
                            line-height: 1.2;
                        }
                    }
                }

                .result {
                    min-width: 45.5vw;
                    @include flexBox(column, center, center);
                    margin-left: 7.5vw;

                    .spotlight_container {
                        @include flexBox(row, flex-end, center);
                        margin-bottom: 2.2vw;

                        .spotlight_box {
                            @include flexBox(column, center, center);
                            position: relative;

                            .spotlight_light {
                                z-index: 0;
                                position: absolute;
                                width: 23vw;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            .star {
                                position: absolute;
                                width: 0.7vw;
                                animation: pulse 1s infinite ease-in-out alternate;
                            }

                            .result_icon {
                                z-index: 1;
                                width: 9.6vw;
                                animation: wiggle 3s linear infinite;
                            }

                            .result_title {
                                text-transform: uppercase;
                                z-index: 1;
                                font-size: 2.2vw;
                                text-align: center;
                                margin: 0.75vw 0 1vw;
                            }

                            .intro {
                                z-index: 1;
                                width: 100%;
                                text-align: center;
                                font-size: 1.56vw;
                                color: #0F0F0F;
                            }
                        }

                        .most {
                            .spotlight_light {
                                bottom: 3.5vw;
                            }

                            .spotlight_star_1 {
                                left: 0vw;
                                top: 3vw;
                            }

                            .spotlight_star_2 {
                                left: 2vw;
                                top: 7.5vw;
                            }

                            .spotlight_star_3 {
                                right: 2.3vw;
                                bottom: 11.75vw;
                            }

                            .intro {
                                padding: 2.2vw 7vw;
                                background-image: linear-gradient(180deg, #FF8D40 0%, #FF4E45 100%);
                            }
                        }

                        .least {
                            .spotlight_light {
                                bottom: 0;
                            }

                            .spotlight_star_1 {
                                left: 2vw;
                                bottom: 8vw;
                            }

                            .spotlight_star_2 {
                                right: 1vw;
                                bottom: 12vw;
                            }

                            .spotlight_star_3 {
                                right: 3vw;
                                bottom: 8vw;
                            }

                            .intro {
                                padding: 0.3vw 7vw;
                                background-color: #FFEACF;
                            }
                        }
                    }

                    .other_box {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-template-rows: auto auto;
                        row-gap: 1.2vw;
                        column-gap: 1.75vw;

                        .other_icon_box {
                            min-width: 14vw;
                            @include flexBox(column, center, center);

                            .other_icon_svg {
                                width: 6.5vw;
                                animation: pulseIcon 1s infinite ease-in-out alternate;
                            }

                            .other_icon_title {
                                text-transform: uppercase;
                                margin-top: 0.7vw;
                                font-size: 1.3vw;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

@keyframes pulse {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes pulseIcon {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}